<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>GESTION RUCHER | Powered by INFOKING</title>
<link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>
<link rel='stylesheet prefetch' href='https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css'>
<link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css'>




<link rel="stylesheet" href="{{ asset('css/styleFront.css') }}">
<link rel="stylesheet" type="text/css" href="{{ asset('css/stylePanel.css') }}" />


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


<script type="text/javascript" src="{{ asset('js/clockp.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/clockh.js') }}"></script> 

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.js"></script>







<!-- CSS STYLE OF TABLE RUCHE -->

<style type="text/css">

/* Important part */
#modal-dialogInterv{
    overflow-y: initial !important
}
#modal-bodyInterv{
    height: 450px;

    overflow-y: auto;
}

  </style>

<!--  END OF CSS STYLE OF TABLE RUCHE -->



</head>
<body >
<div id="main_container">

	<div class="header">

   
    
    <div class="right_header">Bienveunu Apiculteur  |  <a href="#" class="logout">Déconnexion</a></div>
    <div id="clock_a"></div>
    </div>
    
    <div class="main_content">
    
                    <div class="menu">
                    <ul>
                    <li><a class="current" href="">Apiculteur Home</a></li>
                    
                    </ul>
                    </div> 
                    
                    
                    
                    
    <div class="center_content">  
    
    
    
    <div class="left_content">
    
    	
    
            <div class="sidebarmenu">
            
             
           
              
                <a class="menuitem" href="#" id="btnAddRuche">Add Ruche</a>
                
                <a class="menuitem_green" href="">Option 1</a>
                
                <a class="menuitem_red" href="">Option 2</a>
                    
            </div>
            
   
            

   
    
    </div>  
    
    <div class="right_content">            
        
    <h2> Liste de ruches</h2> 
                    
                    
 <table class="table table-bordered bordered table-striped table-condensed datatable" ui-jq="dataTable" ui-options="dataTableOpt" id="myTable">
    <thead>
    	<tr>
            <th scope="col" class="rounded">Nom de la ruche</th>
            <th scope="col" class="rounded">Position</th>
            <th scope="col" class="rounded">Actions</th>
          
        </tr>
    </thead>
 
    <tbody id="rucheTab">

         {% for liste in listeRuche %}     
          <tr>
            <td>{{ liste.getNomRuche }}</td>
            <td>{{ liste.getPosition }}</td>
            <td><center>
            <button class="fa fa-trash-o" aria-hidden="true" onclick="deleteRuche({{ liste.getId }})"></button>
            <button class="fa fa-info-circle" aria-hidden="true" onclick="showIntervention({{ liste.getId }})" ></button>
            </center></td>  
          </tr>
          
          {% endfor %}
    
        
    </tbody>
</table>

   
      
     
     </div><!-- end of right content-->
            
                    
  </div>   <!--end of center content -->               
                    
                    
    
    
    <div class="clear"></div>
    </div> <!--end of main content-->
	
<script src='https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/js/jquery.dataTables.min.js'></script>
<script src='https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js'></script>


<!--  Modal liste des interventions -->

<div class="modal" tabindex="-1" role="dialog" id="myModal">
  <div class="modal-dialog" role="document" id="modal-dialogInterv">
    <div class="modal-content">
      <div class="modal-header">
        <strong>Interventions de la ruche</strong>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="modal-bodyInterv">
        <div><button  type="button" class="btn btn-success" id="btnProduction" >Production</button> </div></br></br>
         <table class="table table-bordered bordered table-striped table-condensed datatable" ui-jq="dataTable" ui-options="dataTableOpt" id="myTable2" >
      <thead>
        <tr ">
        
          <th>Intervention</th>
          <th>Date</th>
          

        </tr>
      </thead>
        <tbody>
     
          
        </tbody>
    </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="addinterv">Add intervenation</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" id ="BtnCShowRuche">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- FIN Modal liste des interventions -->


<!--  Modal Ajouter intervention -->


<div class="modal" tabindex="-1" role="dialog" id="AddIntervModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
       <strong>Ajouter une nouvelle intervention pour cette ruche</strong>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">  
     <textarea id="inputIntervention" cols="90" rows="13"></textarea>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" id="btnSaveIntervention" >Enregistrer</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal" id="CloseAddinterv">Fermer</button>
      </div>
    </div>
  </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="addRuche">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
      <strong>  Ajout d'une nouvelle ruche</strong>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
  <div class="modal-body">

     <div >
      
      <input type="text" class="form-control" placeholder="Nom" id="NomRuche">  </div>
      <div> </br>
      <input type="text" class="form-control" placeholder="Position" id="PosRuche"></div>
   

      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-success" id="BtnAddRuche">Enregistrer</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal" id ="btnCloseAddRuche">Fermer</button>
      </div>
    </div>
  </div>
</div>

<!-- FIN Modal Ajouter intervention -->



<!-- Imports des scripts  -->



<script   src="{{ asset('js/notify.js') }}"></script>
<!--<script   src="{{ asset('js/loading.js') }}"></script> -->



<!--  Fin Imports des scripts  -->



<!-- JAVA SCRIPTS -->

<script type="text/javascript">
  
 $('#myTable').DataTable({
  "ordering": false
 });

 $("#btnAddRuche").on( "click", function() {
  $('#addRuche').modal('show'); 

});

</script>

<script type="text/javascript">
    $("#BtnAddRuche").on( "click", function() {

   $("#NomRuche").css({'border-color' : 'white'});
   $("#PosRuche").css({'border-color' : 'white'});
var nomRuche = $("#NomRuche").val();
var PosRuche = $("#PosRuche").val();
 if (nomRuche == "" && PosRuche == ""){
   $("#NomRuche").css({'border-color' : '#d9534f'});
   $("#PosRuche").css({'border-color' : '#d9534f'});
}
else if(nomRuche == ""){
 $("#NomRuche").css({'border-color' : '#d9534f'});
}
else if(PosRuche == "")
$("#PosRuche").css({'border-color' : '#d9534f'});
else{


var idApiculteur = "{{ idApiculteur }}"
      
    $.ajax({
        type: "POST",
        url: "{{ path('add_ruche')}}",
        cache: false,
        global: false,
        data: {'nomRuche': nomRuche, 'PosRuche': PosRuche, 'idApiculteur': idApiculteur},
       
        success: function(data){

    

loadDataRuches();
$('#addRuche').modal('hide'); 
    

     $.notify("la ruche a été ajoutée avec succès", "success");


        }
    }); 


       
}// end of else


});
</script>
<script>// script pour fermer le modal ajouter une ruche

$("#btnCloseAddRuche").on("click", function(){

$.notify("l'ajout a été annulé", "info");
});


function format_date(date) { // function to convert timesstamp date to dateTime 

  month=date.getMonth();
  month=month+1; //javascript date goes from 0 to 11
  if (month<10) month="0"+month; //adding the prefix

  year=date.getFullYear();
  day=date.getDate();
  hour=date.getHours();
  minutes=date.getMinutes();
  seconds=date.getSeconds();
  return day+"/"+month+"/"+year+" "+hour+":"+minutes+":"+seconds;

}







// script pour afficher une intevention


var globalIdRuche="";

function showIntervention(idRuche){

     var table4 = $('#myTable2').DataTable({
  "ordering": false
  });

  
globalIdRuche = idRuche; 





      $.ajax({
        type: "POST",
        url: "{{ path('show_ruche')}}",
        cache: false,
        global: false,
        dataType:"json",
        async: true,
        data: {'IdRuche': idRuche},
       
        success: function(data){
        

              if (data.length >= 1){ 

                  for (var i=0; i<data.length; i++) {

                      timestamp = data[i].date.timestamp;
                      var jsDate = new Date(timestamp*1000);

                             table4.rows.add(
                             [[ data[i].contenu, format_date(jsDate) ],]
                          ).draw();
                          
                  }
              }
        $('#myModal').modal('show');

        }
    }); 
}// end of function


$("#BtnCShowRuche").on("click", function(){
   var table4 = $('#myTable2').DataTable();
   table4.destroy();
   $('#myTable2 tbody').empty();   
});




$("#addinterv").on( "click", function() {
  $('#myModal').modal('hide');
  $('#AddIntervModal').modal('show'); 
});


 $("#CloseAddinterv").on( "click", function() {
    $('#AddIntervModal').modal('hide'); 
    $('#myModal').modal('show');
});



$("#btnSaveIntervention").on("click", function(){

var contenu = $("#inputIntervention").val();

      
    $.ajax({
        type: "POST",
        url: "{{ path('add_Intervention')}}",
        cache: false,
        global: false,
        data: {'idRuche': globalIdRuche, 'contenu': contenu,},
       
            success: function(data){

                $.notify("l'intervention' a été ajoutée avec succès", "success");

                $("#inputIntervention").val('');

                $('#AddIntervModal').modal('hide'); 

                $('#myTable2').DataTable().destroy();;

                $('#myTable2 tbody').empty();

                showIntervention(globalIdRuche);

        }
    }); 

});


</script> 

<!--  SCRIPT AJAX FOR  DELETE A RUCHE -->

<script type="text/javascript">

function deleteRuche(idRuche){
 
    $.confirm({
      title: 'Confirmation',
      content: 'Voulez-vous vraiment supprimer cette ruche ?',
      buttons: {
          Supprimer: function () {
              $.ajax({
                  type: "POST",
                  url: "{{ path('delete_Ruche')}}",
                  cache: false,
                  global: false,
                  data: {'idRuche': idRuche,},               
                      success: function(data){
                        $.alert('la ruche à été supprimée avec succès.');
                         loadDataRuches();

                      }
                  }); 
          },
          Fermer: function () {
           
              $.alert('Suppression annulée.');
          },

      }
  });


}

</script>


<!-- END OF SCRIPT AJAX FOR  DELETE A RUCHE -->


<script type="text/javascript">
  
function loadDataRuches(){
  var idApi = "{{ idApiculteur }}";

  $.ajax({
      type: "POST",
      url: "{{ path('liste_Ruche')}}",
      cache: false,
      global: false,
      data: {'idApi': idApi,},
      dataType :"json",              
          success: function(data){
              $('#myTable').DataTable().destroy();;

              $('#myTable tbody').empty();

              var tableRuche = $('#myTable').DataTable({
              "ordering": false
              });


                  for (var i=0; i<data.length; i++) {

                    
  var Actions =' <center><button class="fa fa-trash-o" aria-hidden="true" onclick="deleteRuche('+data[i].id+')"></button>'
 +' <button class="fa fa-info-circle" aria-hidden="true" onclick="showIntervention('+data[i].id+')" ></button></center>';
                             tableRuche.rows.add(
                             [[ data[i].nomRuche, data[i].position, Actions ],]
                          ).draw();
                          
                  }

           
          
          }

      }); 

}

</script>



    <div class="footer">
    
    	<div class="left_footer">GESTION RUCHER | Powered by <a href="http://indeziner.com">MOSSAAB FRIFITA</a></div>
    
    
    </div>

</div>		
</body>
</html>